.admin-view {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align columns at the top */
    height: 100vh; /* Adjust the height as needed */
}

.admin-list {
    flex: 1;
    padding: 20px;
    max-width: 600px; /* Set a fixed width for each admin list */
    margin: 0 auto; /* Center the admin list horizontally */
}

.card {
    width: 100%; /* Allow cards to take full width of the parent container */
    max-width: 400px; /* Set a fixed maximum width for each card */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.container {
    text-align: right;
    padding: 10px;
}

.sign-out-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.sign-out-button:hover {
    background-color: #45a049;
}

